S3_ENDPOINT_URL=https://s3.cloud.ru
S3_REGION=ru-central-1
S3_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
S3_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY

MLFLOW_BUCKET=mlops-project
MLFLOW_TRACKING_URL=http://mlflow-service:5000
MLFLOW_AUTH_USERNAME=YOUR_MLFLOW_USERNAME
MLFLOW_AUTH_PASSWORD=YOUR_MLFLOW_PASSWORD
MLFLOW_FLASK_SERVER_SECRET_KEY=YOUR_MLFLOW_SERVER_SECRET_KEY

AIRFLOW__CORE__FERNET_KEY=YOUR_AIRFLOW_FERNET_KEY
_AIRFLOW_WWW_USER_USERNAME=YOUR_USERNAME
_AIRFLOW_WWW_USER_PASSWORD=YOUR_PASSWORD

JUPYTER_TOKEN=YOUR_JUPYTER_TOKEN